/*Dokument*/
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');

html {
    background-color: #ffffff;
      height: 100%;
      
  }

html, body, header, main, section, footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    background-color: rgb(255, 255, 255);    
    color: gray;
    font-family: Mulish;
	margin: 0;
    

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav"
    "header"
    "main"
    "footer";
}

/* Smått o gott*/
.center{
    text-align: center;
}

main {
    grid-area: main;
    background-color: #ffffff;
}

hr {
    margin: 15%;
    color: #34495e79;
}

/*Navigering*/
#nav {
    grid-area: nav;
    z-index: 1;
    margin: 0 auto;
      padding-bottom: .5vh;
      background-color: #ffffff;
      box-shadow: 0px 0px 100px 0px rgb(255, 255, 255);
      
  }
  
  .logo {
      background-image: url(/img/kattgrändlogga.png);
      background-size: cover;
      background-position: center;
      background-repeat: none;
      height: 20vh;
      width: 40vh;
      margin: 0 auto;
  }

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

li:hover {
  cursor: pointer;
}

h2, h3, a {
	color: #34495e;
}

a {
	text-decoration: none;
}

.main-nav {
	margin-top: 5vh;
    width: 40vh;
}

.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	display: block;
    color: #34495e;
	font-size: 2.5vh;
}

.main-nav a:hover {
	color: #718daa;
}

/* Header*/
#header {
    grid-area: header;
    display: border-box;
    background-image: url(/img/kattkok.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

#header h1 {
    color: #ffffff;
    font-size: 5vh;
    margin: 0 auto;
    position: absolute;
    margin-top: 30vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

/*Overlay som blinkar*/
#blinkar, #overlay {
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
  }
  
  #overlay { 
    animation: colorcycle 10s infinite; 
    filter: alpha(opacity=50);
    opacity: 0.8;
  }
  
  @keyframes colorcycle {
    0%   {background: #FFF;}
    50%  {background: #34495e;}
    100% {background: #fff;}
  }


/* ------------ Sections --------- */

/*Section1 OM KATTGRÄND*/
#section1 {
    padding-top: 90px;
    padding-left: 2%;
    padding-right: 2%;
    width: 100%;
    color: #34495e;
    background-color: #ffffff;
}

#omKattgränd, #galleri {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

.textContent {
    width: 100%;
    font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  padding-top: 5%;
}

.imgContent {
    width: 50%;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

#omKattgränd .imgContent {
    background-image: url(/img/kattsov.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: screen;
    width: 100%;
}

/*section2 GALLERI*/

#section2 {
    padding-left: 2%;
    padding-right: 2%;
    width: 100%;
    color: #34495e;
    background-color: #ffffff;
    overflow-x: hidden;
}

#galleri .imgContent {
    background-image: url(/img/katttoa.jpg);
    width: 100%;
}

/*section3 UTFLYKTSMÅL*/
 #section3 {
    color: #34495e;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 5vh;
    background-color: #fff;
}

#section3 h1 {
    text-align: center;
}

#section3 p {
    text-align: center;
}

/* Footer BOKNING*/

footer {
    grid-area: footer;
    background-color: #34495e;
    color: white;
    align-self: flex-end;
}

#bokninng {
    padding-left: 2%;
    padding-right: 2%;
}


/*---------MEDIA QUERIES----------*/
@media (min-width: 769px) {
/*NAVIGERING*/
	#nav,
	.main-nav {
		display: flex;
        width: 100%;
        justify-content: space-evenly;
	}
	#nav {
		flex-direction: column;
        background-color: rgb(199, 20, 20);
	}

    #section1, #section2, #section3 {
        padding-left: 2%;
        padding-right: 2%;
    }

/*section3 Utflyktsmål*/
    .card {
        width: 80vh;
        margin-bottom: 2vh;
        flex-direction: column;
      }
}

@media (min-width: 1025px) {

/*navigering*/
	#nav {
		flex-direction: row;
		justify-content: space-evenly;
    width: 100%;
    background-color: rgb(40, 146, 37);
	}

    .main-nav {
        width: 40%;
    }
/*Section3*/
.cards {
    width: 100vh;
}
    .card {
        width: 100vh;
        margin-bottom: 2vh;
      }
      #section3 {
        margin: 0 auto;
        width:100%;
        color: #34495e;
        background-color: #ffffff;
    }
    
    #omKattgränd, #galleri {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        margin: 0 auto;
        background-color: white;
    }
    
    .textContent {
        width: 45%;
        font-size: 0.875rem;
      line-height: 7rem;
      margin-bottom: 1.25rem;
      padding-top: 5%;
      padding-left: 2.5%;
      padding-right: 2.5%;
    }
    
    .imgContent {
        width: 55%;
        height: 40rem;
        background-repeat: no-repeat;
        background-size: cover;
        overflow-x: hidden;
    }
    
    #omKattgränd .imgContent {
        background-image: url(/img/kattsov.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-blend-mode: screen;
        width: 50%;
    }
    
    #galleri .imgContent {
        background-image: url(/img/katttoa.jpg);
        width: 50%;
    }
}